*.zip
*.png
*.jpg
archive.zip
/archive2
/rec_data/test/images
/rec_data/train/images
/rec_data/valid/images
/data
/data2
/.venv
traaaain.csv
train.csv
~$prezentation_face_rec.pptx
преза_face_rec.pptx
преза_face_rec.pptx
__pycache__/functionals.cpython-310.pyc
__pycache__/unit_tests.cpython-310.pyc
